@import "./../../styles/global";
.rt-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .qr-container{
        background: $black-color-16;
        border: 2px solid $black-color-4;
        border-radius: 1.625em;
        padding: 1.875em 3em;
        margin: 0 0 1.875em;
        text-align: center;
    }
    h6{
        font-size: 1.25em;
        color: $white-color;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 0.5em;
    }    
    .text-eclipse-style{
        display: flex;
        font-size: 1em;
        justify-content: center;
        font-weight: 700;
        margin: 1em 0 0;
        .text-eclipse{
            font-size: 1em;
            width: 5.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        grid-gap: 1.87em;
        .button{
            min-width: 7.75em;
            padding: 0 1em;
        }
    }
    p{
        margin-bottom: 0;
        margin-top: 0.625em;
    }
    .publicAddress{
        font-size: 0.75em;
        font-weight: 700;        
    }
}
