@import "./../../styles/global";

.dropdown-control{
    display: flex;
    align-items: center;
    height: 2.75em;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 1.5625em;
    font-size: 1em;
    padding: 0 1.5em;
    cursor: pointer;
    transition: 0.3s linear;
    .dropdown-img {
        max-width: 1.25em;
        margin-right: 0.625em;
        img{
            vertical-align: middle;
        }
    }
    .dropdown-value{
        font-size: 0.875em;
        color: $white-color;
        font-weight: 700;
        flex: 1;
        small{
            &.theme-color {
                color: $theme-color;
            }
            display: block;
            font-size: 0.85em;
            color: $gray-color-3;
            font-weight: 400;
            em{
                font-style: normal;
                font-weight: normal;
                color: $white-color;
            }
        }
    }
    &:hover{
        background: $black-color;
    }
}
.small-value {
    font-size: 0.9em;
}
.text-color-theme{
    .dropdown-control{    
        .dropdown-value{
            color: $theme-color;
        }
    }
}
.text-gray-theme{
    .dropdown-control{    
        .dropdown-value{
            color: $gray-color-1;
            font-weight: 400;
            font-size: 0.875em;
        }
    }
}
.round-button{
    .dropdown-control{
        .dropdown-icon{
            background-image: url('../../assets/images/ls-icon.svg');
            width: 0.625em;
            height: 0.625em;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            img{
                opacity: 0;
                display: none;
            }
        }
    }
}