@import "./../../styles/global";

.tags {
    .tag {
        .tagStyle{
            position: relative;
            padding: 0;
            > div{
                padding: 0.625em 1em 0.3em;
            }
            > input{
                background: transparent;
                color: #FFF;
                font-size: 1em;
                font-weight: 700;
                border: 0;
                outline: 0;
                box-shadow: none;
                position: absolute;
                width: auto;
                left: 0;
                right: 1.5625em;
                padding: 0 1em;
                height: 100%;
            }
            &.errorTagStyle {
                border: 2px solid red;
            }
        }
    }
}
.remove{
    margin: 0;
    padding: 0.6em 1em 0.3em 0;
    cursor: pointer;;
    position: relative;
    z-index: 1;
    width: 1em;
}
.hide{
    opacity: 0;
    z-index: -100;
    white-space: pre;
}