@import "./../../../../../styles/global";

.private-key-container {
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 26px;
    word-break: break-all;
    color: $gray-color-1;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.57em;
    margin: 1.5em 0 2em;
    span{
        opacity: 0.3;
    }
}

.scam-alert-msg {
    font-weight: 700;
}
