@import "../../../styles/global";
.permission-details{
    h3{
        font-size: 1.25em;
    }
    p{
        font-size: 1em;
    }
}
.rounded-control{
    background: $black-color-3;
    border: 1.99515px solid $black-color-9;
    box-shadow: 0px 2.99273px 3.99031px rgba(0, 0, 0, 0.05);
    border-radius: 39.9031px;
    padding: 0.75em 1.875em;
    display: flex;
    .body{
        flex: 1
    }
    h6{
        font-size: 1em;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }
    .text-eclipse-style{
        display: flex;
        font-size: 0.625em;
        font-weight: 700;
        .text-eclipse{
            font-size: 1em;
            width: 16.4em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.permission-button{
    .button-inline {
        height: auto;
        padding: 0.625em 1.875em 0.4em 1.875em;
    }
}
.send-row{    
    .float-right{
        float: right;
        align-self: flex-start;
    }
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}
.permission-estimated{
    .row-item{
        margin: 0 0 0.625em;
    }
    h6{
        word-break: break-all;
    }
}
.edit-header{
    h3{
        font-size: 1.25em;
    }
    p{
        font-size: 1.125em;
    }
}
.edit-row{
    padding-top: 1.25em;
    border-top: 1px solid $black-color-15;
    .radio-btn{
        background: transparent;
        border: 0;
        color: $white-color;
        font-size: 1em;
        line-height: 1.5;
        text-align: left;
        position: relative;
        cursor: pointer;
        margin-bottom: 1.25em;
        .icon{
            width: 1.5em;
            height: 1.5em;
            background: transparent;
            position: absolute;
            left: 0;
            display: flex;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            &::after{
                content: "";
                display: block;
                width: 0.875em;
                height: 0.875em;
                background: $theme-color;
                margin: auto;
                border-radius: 50%;
                transition: 0.15s linear;
                transform: scale(0);
            }
        }
        &.active{
            .icon{
                border: 1px solid $theme-color;
                &::after{
                    transform: scale(1);
                }
            }
        }
        small{
            font-size: 0.875em;
            opacity: 0.6;
            display: block;
        }
    }
    .disable{
        opacity: 0.6;
        pointer-events: none;
    }
    
    .radio-content{
        padding-left: 2.5em;
        input {
            font-size: 1em;
            height: 3.7em;
        }
    }
}
.edit-footer {
    display: flex;
    grid-gap: 1.25em;
    padding: 1.25em 0 0 2.5em;
}
.border-bottom{
    border-bottom: 1px solid $black-color-15;
}
.mt-05{
    margin-top: 0.5em;
}