@import "./../../../../styles/global";

.details-header{
    display: flex;
    align-items: center;
    padding:0  1.25em 1.25em;
    .left{
        margin-right: 0.625em;
        max-width: 2em;
    }
    .body{
        flex: 1;
        small{
            font-size: 0.875em;
        }
        h2{
            line-height: 1;
        }
    }
    .headingTextStyle{
        line-height: 1;
    }
    .small-text{
        font-size: 1.0625em;
        font-weight: 700;
        display: flex;
    }
    .text-eclipse{
        font-size: 1em;
        width: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.expedite-notice {
    margin: 0.5em 0 1.5em;
}
.trans-details{
    .line{
        border: 1px dashed $black-color-4;
        width: 100%;
        display: block;
        margin: 0 0 0.625em 0;
    }
    .heading-styles{
        h6{
            margin: 0 0 0.5em;
        }
    }
    .send-details{
        .send-row{
            border-top: 0;
            border-bottom: 1px solid $black-color-15;
            &:last-child{
                border-bottom: 0;
            }
        }
    }
    .send-amount{
        h2{
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 1.5625em;
        }
        span{
            font-size: 0.875em;
            small{
                font-size: 1em;
            }
        }
    }
    .trans-listitem{
        display: flex;
        align-items: center;
        font-size: 1em;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        padding: 1em 0;
        border-bottom: 1px solid $black-color-15;
        .body{
            flex: 1;
        }
    }
}
.footer-bottom-small{
    justify-content: center;
    grid-gap: 0.625em;
    .button{
        font-size: 0.72em;
        padding: 0 1em;
    }
}
.pending-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    .button{
        padding: 0 4em;
    }
}