@import "./../../styles/global";
.recent-listitem{
    display: flex;
    align-items: center;    
    border-top: 1px solid $rgba-color8;
    font-size: 1em;
    padding: 0.875em 1.5em;
    cursor: pointer;   
    transition: 0.3s linear;
    &:hover{
        background: $black-color;
    } 
    &:first-child{
       border-top: 0;
    }
    .body{
        flex: 1;
    }
    h6{
        font-size: 0.875em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;    
    }
    .text-eclipse-style{
        display: flex;
        .text-eclipse{
            font-size: 1em;
            width: 5.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .large-text{
        font-size: 1.125em;
        font-weight: 700;
    }
    small{
        color: $gray-color-2;
        font-size: 0.786em;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    .ls-icon{
        margin-left: 1.25em;
        img{
            vertical-align: middle;
        }
    }
}