@import "./../../styles/global";
.overflow-initial{
    overflow: initial;
}
.header-container{
    padding: 0 1.25em 1.25em;
    h2{
        margin-bottom: 0.32em;
    }
}
.options-item{
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 2.5em;
    margin-bottom: 0.625em;    
    transition: 0.3s linear;
    &:hover{
        background: $black-color;
    }
    .option-button{
        font-size: 1em;
        font-weight: 400;
        color: $white-color;
        padding: 0.75em 1.875em 0.625em;
        display: flex;
        cursor: pointer;        
        .body{
            flex: 1;
        }
        h6{
            font-size: 1em;
            margin: 0;
        }
        .text-eclipse-style{
            display: flex;
            font-size: 1em;
            font-weight: 700;
            line-height: 1;
            .text-eclipse{
                font-size: 1em;
                width: 6em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }        
}
.top-border{
    border-top: 1px solid $black-color-15;
}
.bottom-border{
    border-bottom: 1px solid $black-color-15;
}
.wd-header{
    padding: 1.25em 0;    
    h2{
        font-size: 2em;
        margin: 0;
        img{
            vertical-align: middle;
            margin-left: 0.33em;
            max-width: 0.75em;
        }
    }
}
.ls-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $black-color-15;
    padding: 0.625em 0;
    .body{
        flex: 1;
    }
    span{
        color: $gray-color-2;
        font-weight: 700;
        font-size: 1em;
    }
    strong{
        color: $theme-color;
        font-weight: 700;
        font-size: 1em;
    }
}
.wd-footer{
    padding: 1.875em 0 0.625em;
    span{
        display: block;
        font-size: 0.875em;
    }
}
.button-spacer {
    margin-left: 0.625em;
}