@import "./../../styles/global";

.dot-loader-container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 1.25em 0;
}

.dot-loader {
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
  background-color: $theme-color;
  position: relative;
  -webkit-animation: 1s grow ease-in-out infinite;
  animation: 1s grow ease-in-out infinite;
  opacity: 0.2;
}

.dot-loader--2 {
  -webkit-animation: 1s grow ease-in-out infinite 0.15555s;
  animation: 1s grow ease-in-out infinite 0.15555s;
  margin: 0 1.125em;
}
.dot-loader--3 {
  -webkit-animation: 1s grow ease-in-out infinite 0.3s;
  animation: 1s grow ease-in-out infinite 0.3s;
}
@-webkit-keyframes grow {
  0%, 40%, 100% {
   opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
@keyframes grow {
  0%, 40%, 100% {
   opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
