@import "./../../styles/global";

.single-radio{
    font-size: 1em;
    color: $white-color;
    position: relative;
    padding-left: 2.5em;
    display: inline-block;
    input[type="radio"]{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .radio-icon{
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        position: absolute;
        left: 0;
        border: 1px solid $black-color-17;
        transform: translate(0, -50%);
        opacity: 0.5;
    }
    input[type="radio"]:checked +  .radio-icon{
        background: $theme-color;
        border: 1px solid $theme-color;
        opacity: 1;
    }
    span{
        display: inline-block;
        padding: 6px 0 0;
        opacity: 0.5;
    }
    input[type="radio"]:checked ~ span{
        opacity: 1;
    }
}