.slippage-input {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    width: -webkit-fill-available;
    .slippage-input-label {
        // font-size: 0.875em;
        // font-weight: 700;
        color: 'white';
        margin-right: 1em;
    }
    .slippage-input-value {
        padding-left: 100%;
        text-align: right;
        width: 100%;
        // font-size: 0.875em;
        // font-weight: 700;
        // margin-left: 10px;
        // color: $black-color-1;
    }
}