@import "./../../styles/global";

.ledger-button {
  display: flex;
  flex-direction: row;
  margin: 0 0;
}

.text-center-hardware {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nano-button {
  max-width: 80%;
  width: 50%;
  margin: 10px 20px;
  height: 120px;
  display: inline-flex;
  font-size: 0.875em;
  background: $theme-color;
  color: $black-color;
  font-weight: 700;
  border: 2px solid $theme-color;
  text-transform: uppercase;
  padding: 0.65em 1em 0.35em;
  border-radius: 4em;
  cursor: pointer;
  line-height: normal;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background: $black-color;
    color: $theme-color;
    border: 2px solid $theme-color;
    box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
    transform: translateY(-0.25em);
  }
}

.label-form {
  font-size: 0.75em;
  color: white;
  opacity: 0.6;
  display: block;
  margin: 0 0 0.625rem;
  letter-spacing: 0.03em;
}

.address-data {
  font-size: 1em;
  color: #dfdfdf;
  width: 24px;
  text-overflow: ellipsis;
  padding: 0.5em 0;
  white-space: nowrap;
}

.label-form-list {
  font-size: 0.75em;
  color: white;
  opacity: 0.6;
  letter-spacing: 0.03em;
}

.address-data-list {
  font-size: 1em;
  color: #dfdfdf;
  width: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.margin-border {
  margin-top: 10px;
}

.label-error-form {
  font-size: 1em;
  letter-spacing: 0.03em;
  margin: 10px 0;
  text-align: center;
  display: block;
  color: $red-color;
  font-weight: 600;
  word-break: break-all;
}

.hardware-account-list {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-bottom: 2px solid $black-color-2;
  padding: 5px 0;
}

.check-box-hardware {
  border-radius: 10%;
}

.prev-next-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.prev-button {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-right: 30px;
  display: inline-flex;
}

.next-button {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-left: 30px;
  display: inline-flex;
}

.address {
  flex: 1;
}

.empty {
  opacity: 0.5;
}