@import "./../../styles/global";

.button{
    background: $theme-color;
    color: $black-color;
    font-size: 0.875em;
    height: 4em;
    border-radius: 4em;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin-top: 1em;
    line-height: initial;
    cursor: pointer;
    transition: 0.25s;
    &:hover,
    &:focus{    
        background: $black-color;
        color: $theme-color;
        border: 2px solid $theme-color;
        box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
        transform: translateY(-0.25em);
    }
    &.button-outline{
        border: 2px solid $black-color-2;
        background: $black-color;
        color: $theme-color;
        &:hover,
        &:focus{
            border: 2px solid $theme-color;
            box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
        }
    }
    &.btn-full{
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
    &.fullwidth{
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &.button-inline {
        display: inline-flex;
        padding: 0 2em;
    }
    img{
        vertical-align: middle;
        margin-bottom: 2px;
        margin-right: 0.5em;
    }
    &.btn-md{
        max-width: 26em;
        margin-left: auto;
        margin-right: auto;
    }
    &.btn-sm-h{
        height: 2.5em;
    }
    &.mt-0{
        margin-top: 0;
    }
}
.max-btn{
    margin-top: -0.825em;
    margin-bottom: 1em;
}