@import "./../../styles/global";

.progressbar-number{
    display: flex;
    justify-content: center;
    max-width: 17.1875em;
    margin: 0 auto;
    position: relative;
    padding: 0;
    list-style: none;
    width: 100%;
    li{
        width: 40%;
        position: relative;
        display: inline-flex;
        justify-content: center;
        &:first-child{
            justify-content: flex-start;
            width: 25%;
        }
        &:last-child{
            justify-content: flex-end;
            width: 25%;
        }
        span{
            font-size: 1em;
            font-weight: 700;
            color: $rgba-color9;
            width: 2em;
            height: 2em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $black-color-3;
            border: 2px solid $black-color-9;
            box-shadow: 0px 3px 4px $rgba-color6;
            border-radius: 50%;
            position: relative;
            z-index: 1;
        }
       
        &.active{
            span{
                background: $theme-color;
                border: 2px solid $theme-color;
                color: $black-color;
            }  
            &::before{
                content: "";
                width: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                display: block;
                background: $theme-color;
                border: 2px solid $theme-color;
                box-shadow: 0px 3px 4px $rgba-color6;
                transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
            }
        }

    }
    &::before{
        content: "";
        width: auto;
        position: absolute;
        left: 1em;
        right: 1em;
        top: 50%;
        display: block;
        background: $black-color-3;
        border: 2px solid $black-color-9;
        box-shadow: 0px 3px 4px $rgba-color6;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }    
}