@import "./../../styles/global";
.listitem-control{
    display: flex;
    align-items: center;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 2.5em;
    font-size: 1em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    margin-top: 0.625em;
    &:first-child{
        margin-top: 0;
    }
    .body{
        flex: 1;
    }
    h6{
        font-size: 0.875em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;    
    }
    .right{
        padding-left: 1em;
    }
    .large-text{
        font-size: 1.125em;
        font-weight: 700;
        word-break: break-all;
    }
    small{
        color: $gray-color-2;
        font-size: 0.786em;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    .ls-icon{
        margin-left: 1.25em;
        img{
            vertical-align: middle;
        }
    }
}