@import "../../../styles/global";
.segment-controller{
    display: flex;
    height: 2.75em;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 2.5em;
    font-size: 1em;
    padding: 0;
    margin-bottom: 0.3125em;
    cursor: pointer;
    .form-group{
        margin: 0;
        height: 100%;
        .form-icon{
            height: 100%;
        }
        .form-control{
            border: 0;
            margin: 0;
            text-align: right;
            font-size: 0.875em;
            font-weight: 700;
            height: 100%;
            text-transform: uppercase;
            background: transparent !important;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    .enter-amount-frm{
        margin-left: auto;
    }
}

.get-converted-value{
    display: flex;
    font-size: 0.8125em;
    display: block;
    margin-top: 0.2em;
}

.label-and-max {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.5em;
}
