@import "./../../styles/global";

.tags {
    .tag {
        .tagStyle{
            > div{
                padding: 0.625em 1em 0.3em;
            }
        }
    }
}
.remove{
    margin: 0;
    padding: 0.6em 1em 0.3em 0;
    cursor: pointer;;
    position: relative;
    z-index: 1;
}