@import "./../../styles/global";


  .segment-style{
    width: 50%;
    display: flex;
    border: 2px solid $black-color-4;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;  
    border-radius: 2.5em;  
    position: relative;
  
  .segment-highlight{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 2.5em;  
    background: $theme-color;
    pointer-events: none;
    transition: 0.2s ease-out;
    transform: translateX(100%);
  }
  button {
    padding: 0.5em;
    margin: 0;
    border: 0;
    box-shadow: none;
    outline: 0;
    background: transparent;
    font-size: 0.875em;
    color: $gray-color-1;
    font-weight: 700;
    width: 50%;
    cursor: pointer;
    z-index: 1;
    span{
      opacity: 0.6;
    }&.true{
      span{
        color: $black-color;
        opacity: 1;
      }
    }
      &.true {
        &:first-child{
          ~ .segment-highlight{
              transform: translateX(0);
          }
        }
      }
     
   
    
      &.true {
        &:last-child{
          ~ .segment-highlight{
            transform: translateX(100%);
          }
        }
      }
      
   
  }
  
}