@import "../../../styles/global";
.heading-dashed-styles{
    .line{
        border: 1px dashed $black-color-4;
        width: 100%;
        display: block;
        margin: 0 0 0.625em 0;
    }
}
.origin-container{
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.3125em;
    }
}
.msg-container{
    padding: 1em 0 0;
    h5{
        margin: 0 0 0.5em;
    }
    p{
        font-size: 1em;
    }
}
.inline-buttons{
    .button{
        min-width: 8em;
        padding: 0 1.5em;
        margin: 0.5em;
    }
}
.render-acc-details{
    padding-left: 0;
}
.dapp-detail-header{
    text-align: center;
    h3{
        margin-bottom: 0;
    }
    p{
        font-size: 1em;
    }
}