@import "./../../styles/global";
.network-list-style{
    .select-network-item{
        &.disable{
            pointer-events: none;
            & > div{
                opacity: 0.5;
            }
        }
    }
}