@import "./../../styles/global";

.modal {   
    &.center{
        justify-content: center;
        align-items: center;
        .modal-container {
            padding: 1.25em;
            .modal-content{
                padding: 1.875em;
                .titleStyle{
                    font-size: 1em;
                    font-weight: 700;
                    margin: 0 0 0.8125em;
                    color: $theme-color;
                }
                p{
                    font-size: 1em;
                }
                .actionBtnContainerStyle {
                    display: flex;
                    grid-gap: 1.25em;
                    padding: 0 1em;
                }
                &.alert-model-content{
                    max-width: 270px;
                    margin: 0 auto;
                    min-width: 240px;
                }                
            }
        }
    }
    &.isSwitch{
        .modal-container{
            .modal-content{
                .titleStyle{
                    color: $gray-color-2;
                }
            }
        }
        p{
            strong{
                display: block;
            }
        }
    }
    &.alert-model-large{
        .modal-container{
            .modal-content{
                max-width: 370px !important;
                p{
                    line-height: 2;
                }
            }
        }
    }
}