@import "./../../styles/global";

.form-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    .input-icon{
        width: 3.75rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
    }    
}
.form-group{
    &.inline{
        position: relative;
        .form-control{
            padding-right: 6.5em;   
        }
        .add-btn{
            background: $theme-color;
            border: 0;
            color: $black-color;
            text-transform: uppercase;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
            border-radius: 3em;
            height: 2.2em;
            min-width: 5.4em;
            padding: 0.25em 1em;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.7em;
            margin: auto 0;
            font-weight: 700;
            z-index: 1;
            cursor: pointer;
    }
   }
}