@import "./../../styles/global";

.square-background{
    background-image: url('./../../assets/images/square-background.png');
    background-repeat: repeat;
    background-position: 0 0;
}
h1{
    font-family: $secondFont;
    font-weight: 400;
    margin: 0;
    font-size: 3.25em;
    line-height: 1;
}
.heading1{
    font-size: 2em;
    text-align: center;
    color: $rgba-color3;
    line-height: 1.26;
    strong{
        display: block;
        font-size: 1.7em;
        text-transform: uppercase;
        color: $theme-color;
    }
}
.heading2{
    font-size: 1.875em;
    line-height: 1.3;
    margin-bottom: 3px;
}
.h2{
    font-size: 1.875em;
    line-height: 1.6;
    margin: 0;
    strong{
        display: block;
        font-size: 1.36em;
        text-transform: uppercase;
        color: $theme-color;
    }
}
.header-content{
    padding: 1.875em 1.25em;
    margin: 0 auto;
}
.body-content{
    max-width: 22em;
    margin: 0 auto;
    padding: 0 1.875em;
    h5{
        text-transform: uppercase;
        font-size: 1.1875em;
        letter-spacing: 0.1em;
        opacity: 0.6;
        font-weight: 700;
        margin: 0 0 1.25rem;
    }
    h2{
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.375em;
    }
}
.footer-content{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 0;
    text-align: center;
    padding-top: 2em;
    img{
        vertical-align: bottom;
        &.IM-coin{
            position: absolute;
            bottom: 50%;
            left: 0;
            right: 0;
            width: 25%;
            margin: 0 auto;
            z-index: 1;
        }
        
    }    
}
.content-image{
    margin: 0 auto 1.25em;
    max-width: 100%;
    width: 100%;
    height: 17.5rem;
    border-radius: 0 0 1.875em 1.875em;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.content-footer{
    padding: 0 1.875em 1em;
    margin-top: auto;
    .button {
        max-width: 85%;
        margin-left:auto;
        margin-right: auto;
    }
}
.content-area{
    flex: 1;
    overflow: auto;    
    p{
        &.small{
            font-size: 0.875em;
        }
    }
}

.wallet-header{
    flex: 1;
    text-align: center;
    padding: 0 0 1.25em 0;
}
.box-content{
    // flex: 1;
    background: $black-color-5;
    border: 2px solid $black-color-6;
    box-shadow: inset 0px 27px 34px $rgba-color1;
    border-top-left-radius: 1.875em;
    border-top-right-radius: 1.875em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875em;
    .heading1{
        margin: auto 0;
        padding: 0 0 1.25rem 0;
    }
}
.wallet-icon{
    margin-bottom: 3.125em;
}

.wallet-icon-circle{
    width: 8.875em;
    height: 8.875em;
    border-radius: 50%;
    background: $black-color-7;
    border: 2px solid $black-color-8;
    box-shadow: inset 0px 0px 30px $rgba-color2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.25em;
    img{
        max-width: 60%;
    }
}

.box-content{
     h5{
        text-transform: uppercase;
        font-size: 1.1875em;
        letter-spacing: 0.1em;
        opacity: 0.6;
        font-weight: 700;
        margin: 0 0 1.25rem;
    }
}

.tags{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.625em;
    margin: 0;
    padding: 0;
    .tag{
        font-size: 0.75em;
        color: $gray-color-1;
        font-weight: 700;
        display: flex;
        align-items: center;
        grid-gap: 0.5em;
        width: calc(25% - 1em);
        span{
            opacity: 0.3;
            display: inline-block;
        }
        .tagStyle{
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            background: $black-color-3;
            border: 2.62222px solid $black-color-4;
            padding: 0.6em 1em 0.3em;
            min-height: 2.125em;
            border-radius: 2.125em;            
            line-height: normal;
           > div{
                padding: 0.625em 1em 0.3em;
            }
        }    
    }
}


.slide-to-swipe{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 700;
    color: $rgba-color4;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 2em;
    height: 3.5em;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    .slide-swipe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $rgba-color5;
        border-radius: 2em;
    }
    .slide-btn{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3.5em;
        height: 3.5em;
        background: $theme-color;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
    }
}
.passcode-field {
    text-align: center;
    padding: 2.5em;
    input.form-control {
        border: 0;
        background: no-repeat;
        background: none;
        color: $theme-color;
        text-align: center;
        letter-spacing: 1rem;
        padding: 0;
        margin-right: -1rem;
        font-size: 2.5em;
        height: auto;
    }
}
.scam-alert {
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 26px;
    padding: 1.5625em 1.25em;
    text-align: center;
    margin: 1.85rem 0 0;
    img {
        margin: 0 auto 1em;
    }
    p {
        color: $red-color3;
        font-size: 1.1875em;
        font-weight: 700;
        margin: 0;
    }
}
.welcome-container{
    h1{
        font-size: 2.5em;
    }
    .wallet-header{
        padding: 0 0 1em 0;
        flex: inherit;
        .wallet-icon-circle{
            width: 8.435em;
            height: 8.435em;
            margin: 0 auto 1em;
        }
    }
}
.social{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    .social-icon {
        background: $black-color-18;
        border: 1px solid $black-color-2;
        border-radius: 50%;
        width: 1.5625em;
        height: 1.5625em;
        display: inline-flex;
        padding: 0.625em;
        cursor: pointer;
    }
}
.logo{
    padding: 0;
    margin: 0 auto 1.875em;    
}
.passcode-logo{
    font-size: 0.8em;
    img{
        max-width: 6.5em;
        margin-bottom: 0.5em;
    }
}
.passcode-frm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.625em;
    h2{
        font-size: 1.125em;
    }
    .dot-container{
        padding: 1.25em 0;
        .dot-style{
            width: 0.715em;
            height: 0.715em;
        }
    }
    .keypad-style{
        grid-row-gap: 0.875em;
        grid-column-gap: 2.5em;
        button.key-button{
            font-size: 1.125em;
        }
    }
}
.password-logo {
    max-width: 20em;
    img{
        margin-bottom: 0.625em;
    }
}
.password-frm{
    padding: 0 0.625em;
    h2{
        font-size: 1.375em;
    }
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;    
}