@import "./../../styles/global";

.wallet-connect-modal-overlay {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 580px;
    height: 600px;
    max-height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .wallet-connect-modal {
        max-width: 500px;
        background-color: $black-color-12;
        padding: 1em;
        border-radius: 0.75em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }

    .dapp, .chain {
        display: flex;
        flex-direction: row;
        padding: 1em 0 2em;
        align-items: center;
        justify-content: center;

        .icon {
            width: 15%;
            border-radius: 100%;
        }

        .info {
            margin-left: 1em;
        }

        .name {
            font-size: 1.8em;
            text-align: center;
        }

        .url, .chainId {
            font-size: 0.9em;
            text-align: center;
        }

        .verification {
            font-size: 0.9em;
            text-align: center;

            &.red {
                color: red;
            }

            &.green {
                color: green;
            }

            &.gray {
                color: gray;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 1em;
    }
}