@import "../../../styles/global";
.quotes-header {
    padding: 1.25em;
    text-align: center;
    h5 {
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: 1.125em;
        margin: 0;
        padding: 0;
        strong {
            display: block;
            font-size: 1em;
            font-weight: 700;
        }
    }
}
.quotes-list-header{
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 0.85em 1.25em;
    background: $black-color-15;
    > div{
        width: 33.33%;
        text-align: left;
        font-weight: 700;
        &.Fees{
            text-align: center;
        }
        &.Source{
            text-align: right;
        }
    }
}
.swap-quotes-list{
    height: 100%;
    overflow: auto;
    padding: 0 1.25em;
    margin: 0;
    li{
        list-style: none;
        padding: 0.875em;
        font-size: 1em;
        background: $black-color-15;
        cursor: pointer;
        margin-bottom: 0.625em;
        border-bottom: 1px solid $black-color-15;
        border-radius: 0.625em;

        &:first-child {
            padding: 1.5em 0.875em;
            border: 1px solid $theme-color;
        }

        .recommended {
            font-weight: 700;
            font-size: 16px;
        }

        .quote-item {
            display: grid;
            grid-template-columns: auto auto 1.25em;
            *{
                font-size: 1em;
            }
            > div{
                label{
                    font-size: 1em;
                    display: block;
                    color: $gray-color-10;
                    font-weight: 400;
                }            
                &.hex{
                    padding-left: 0;
                    margin-right: 0.5em;
                }
                &.source{
                    padding-right: 0;
                }
                strong{
                    font-weight: 700;
                }
                &.source{
                    // display: flex;
                    // align-items: center;
                    // text-align: right;   
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 90%;
                        margin-right: 0.5em;
                    }             
                    img{
                        vertical-align: middle;
                        margin-left: auto;
                    }
                }
                &.right-icon{
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }

            .quote-usd {
                display: block;
                color: $gray-color-10;
                font-size: 0.9em;
            }
        }
    }

    .fee-details {
        margin-top: 2em;
        cursor: pointer;
    }
}

.error-text {
    padding: 0 2.5em;
}
