@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-extralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/poppins/poppins-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/poppins/poppins-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'pixeboy';
    src: url('../assets/fonts/pixeboy/pixeboy-webfont.woff2') format('woff2'),
         url('../assets/fonts/pixeboy/pixeboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}