@import "fonts";

$red-color: red;
$theme-color: #fba81a;
$white-color: white;
$green-color: #6dde45;
$yellow-color: #d98a21;
$red-color2: #ff0707;
$red-color3: #c1272d;
$success-color:#53BD2F;
$failed-color:#F63131;

// Black color scheme
$black-color: black;
$black-color-1: #2E2E2E;
$black-color-2:#434343;
$black-color-3:#151515;
$black-color-4:#1F1F1F;
$black-color-5:#111111;
$black-color-6:#181818;
$black-color-7:#141414;
$black-color-8:#1B1B1B;
$black-color-9:#1C1C1C;
$black-color-10:#1A1A1A;
$black-color-11:#1E1E1E;
$black-color-12:#282828;
$black-color-13:#222222;
$black-color-14:#2B2B2B;
$black-color-15:#272727;
$black-color-16:#323232;
$black-color-17:#D9D9D9;
$black-color-18:#1D1D1D;
$black-color-19:#202020;
$black-color-20:#333333;

// Gray color scheme
$gray-color-1:#DFDFDF;
$gray-color-2:#B5B5B5;
$gray-color-3:#949494;
$gray-color-4:#505050;
$gray-color-5:#3D3D3D;
$gray-color-6:#6D6D6D;
$gray-color-7:#838383;
$gray-color-8:#373737;
$gray-color-9: #303030;
$gray-color-10: #CACACA;

// Rgba Color
$rgba-color1: rgba(0, 0, 0, 0.47);
$rgba-color2: rgba(0, 0, 0, 0.65);
$rgba-color3: rgba(255, 255, 255, 0.6);
$rgba-color4: rgba(255, 255, 255, 0.5);
$rgba-color5: rgba(251, 168, 26, 0.5);
$rgba-color6: rgba(0, 0, 0, 0.05);
$rgba-color7: rgba(0, 0, 0, 0.6);
$rgba-color8: rgba(255, 255, 255, 0.1);
$rgba-color9: rgba(255, 255, 255, 0.2);
$rgba-color10: rgba(0, 0, 0, 0.7);
$rgba-color11: rgba(255, 255, 255, 0.08);
$rgba-color12: rgba(217, 217, 217, 0.5);

$baseFont: "poppins";
$secondFont: "pixeboy";

$container-width: 580px;
$wrapper-width: 580px;
