@import "./../../styles/global";

.spinner-container{
      width: auto;
      height: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: $black-color-5;
      z-index: 9;
      max-width: $wrapper-width;
      margin: 0 auto;
      .loading-spinner {
        width: 75px;
        height: 75px;
        margin: 0;
        background: transparent;
        background: conic-gradient(from 180deg at 50% 50%, rgba(251, 168, 26, 0) -61.76deg, #FBA81A 37.76deg, #FBA81A 257.92deg, rgba(251, 168, 26, 0) 257.96deg, rgba(251, 168, 26, 0) 298.24deg, #FBA81A 397.76deg);
        border-radius: 50%;
        -webkit-animation: 1.5s spin linear infinite;
        animation: 1.5s spin linear infinite;
        position: relative;
        &::before{
          content: "";
          display: block;
          position: absolute;
          left: 5px;
          right: 5px;
          top: 5px;
          bottom: 5px;
          background: $black-color-5;
          border-radius: 50%;
        }
    }
}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
