@import './../../styles/global';

.modal-header {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;

  .h6 {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    color: $gray-color-2;
    margin-bottom: 1em;
  }

  .close {
    margin: 0;
    padding-right: 1em;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .close-icon {
    font-size: 1.5em;
    color: $gray-color-2;

    &:hover {
      color: $theme-color;
    }
  }
}
