@import "../../styles/global";
.swap-header-from{
    background-image: url('../../assets/images/down-shape.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    padding-bottom: 4.5em;
}

.token-inputs {
    display: flex;
    flex-direction: row;
}

.token-input {
    &:first-child {
        margin-right: 1em;
    }
}

.amount-form {
    margin-bottom: 0;
}

.label-and-max {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.5em;
}
