@import "./../../styles/global";
.value-eclipse-style {
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copy-button {
    background-color: rgba($color: #000000, $alpha: 0.0);
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-top: -00px;
}

.copy-button:hover, .copy-button:focus {
    background: black;
    color: black;
    border: 0px none black;
    box-shadow: none !important;
    transform: none !important;
}