@import "../../../styles/global";
.heading-dashed-styles{
    .line{
        border: 1px dashed $black-color-4;
        width: 100%;
        display: block;
        margin: 0 0 0.625em 0;
    }
}
.origin-container{
    h4{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 1.25em;
        }
    }
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.3125em;
    }
}
.msg-container{
    padding: 1em 0 0;
    h5{
        margin: 0 0 0.5em;
    }
    p{
        font-size: 1em;
    }
}
.inline-buttons{
    .button{
        min-width: 8em;
        padding: 0 1.5em;
        margin: 0.5em;
    }
}
.render-acc-details{
    padding-left: 0;
}