@import "./../../../../styles/global";
.chart-container{
    text-align: center;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 20px;
    .char-header{
        background: transparent;
        padding: 0.625em 1.25em;
        border: 0;
        width: 100%;
        height: auto;
        line-height: 1.5;
        font-size: 1em;        
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: 0;
        &:after {
            content: "";
            display: block;
            width: 11px;
            height: 2px;
            background: #FBA81A;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-1.25em, -50%);
        }
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: 11px;
            background: #FBA81A;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-1.5em, -50%);
        }
        &.open{
            &::before{
                display: none;
            }
        }
        h6{
            font-size: 1em;
            color: $theme-color;
            flex: 1;
            text-align: left;
            margin: 0;
        }

    }
}

.copy-button-details {
    background-color: rgba($color: #000000, $alpha: 0.0);
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 2px;
}

.copy-button-details:hover, .copy-button-details:focus {
    background: black;
    color: black;
    border: 0px none black;
    box-shadow: none !important;
    transform: none !important;
}

.chart-area{
    padding: 1.25em;
    border-top: 2px solid $black-color-4;
}
.details-header{
    display: flex;
    align-items: center;
    padding:0  1.25em 1.25em;
    .body{
        flex: 1;
    }
    .headingTextStyle{
        line-height: 1;
    }
    .small-text{
        font-size: 1.0625em;
        font-weight: 700;
        display: flex;
    }
    .text-eclipse{
        font-size: 1em;
        width: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.arrow-circle-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5em;
    flex-wrap: wrap;
    padding: 0.625em 0;
    .arrow-circle-button{
        width: 4em;
        height:4em;
        background: $black-color-11;
        border: 2px solid $black-color-12;
        box-shadow: 0px 3px 4px $rgba-color6;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover{
            transform: scale(1.1);
        }
    }
    .circle-buttons{
        color: $white-color;
        text-decoration: none;
        span{
            display: block;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            text-align: center;
            margin-top: 0.4375em;
        }
    }
}

.list-style{
    padding: 0;
    margin: 0;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 1.5625em;
    overflow: hidden;
    .list-item{
        display: flex;
        align-items: center;
        padding: 0.875em 1em 0.625em;
        border-top: 1px solid $rgba-color8;
        transition: 0.3s linear;
        &:first-child{
            border-top: 0;  
        }
        &:hover{
            background: $black-color;
        }
        .left{
            img{
                vertical-align: middle;
                margin-right: 0.75em;
                max-width: 1.25em;
            }
        }
        .body{
            flex: 1;
        }
        h6{
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
        }
        .price-value{
            font-size: 0.9375em;
            font-weight: 700;
        }
        .ls-icon{
            margin-left: 1em;
        }
    }
}
.footer-bottom{
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-button {
        width: 5.6875rem;
        background: $theme-color;
        color: $black-color;
        border: 2px solid transparent;
        font-size: 0.8125em;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.6em 0.833em 0.4em;
        border-radius: 1.875em;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        transition: 0.25s;
        &:hover,
        &:focus{    
            background: $black-color;
            color: $theme-color;
            border: 2px solid $theme-color;
            box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
            transform: translateY(-0.25em);
        }
    }
}
.space-around{
    justify-content: space-around;
}