@import "./../../styles/global";

.modal-flex{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 600px;
    width: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;    
}
.modal {   
    display: flex;    
    flex-direction: column;
    background: $rgba-color7;
    overflow: hidden;
    transform: translate(0, 100%);
    z-index: 9;
    .bodyclose {        
        width: 100%;
        z-index: 1;   
        transition: 0.3s ease-in-out;
        opacity: 0; 
        visibility: hidden;
    }
    .modal-container {
       padding: 0.625em;
       position: relative;
       z-index: 1; 
       transition: 0.3s ease-in-out;  
        max-height: 70%;
        overflow: auto;
        .modal-content{
            margin: 0 auto;
            background: $black-color-5;
            border: 2px solid $black-color-10;
            box-shadow: 0px 3px 4px rgb(0 0 0 / 5%);
            border-radius: 40px;
            padding: 1.25em;
            width: auto;
        }
    }
    &.bottom{
        justify-content: flex-end;       
        .modal-container {
            transform: translate(0, 100%);
        }
        &.true{
             .modal-container{
                transform: translate(0, 0);
            }
        }        
    }
    &.true{
          transform: translate(0, 0);
        .bodyclose{
            opacity: 1;
            visibility: visible;
        }
    }
    .modal-header{
        h6{
            font-size: 0.875em;
            text-transform: uppercase;
            color: $gray-color-2;
            margin-bottom: 1em;
        }
    }
    .modal-body{
        position: relative;
        p{
            font-size: 1em;
            font-weight: 400;
        }
    }
}