@import "./../../styles/global";
.flex-row{
    display: inline-flex;
    align-items: center;
}
.left-sm-space{
    margin-left: 0.3125em;
}
.remove-btn{
    border: 0;
    background: transparent;
    outline: 0;
    padding: 0;
    cursor: pointer;
    width: 1.45em;
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 242px;
}