@import "./../../styles/global";
.dash-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
    grid-gap: 0.625em; 
    min-height: 2.75em;
    .left{
        img{
            max-width: 1.875em;
            vertical-align: middle;
        }
    }
    .body{
        flex: 1;
        h2{
            line-height: 1;
            font-size: 1.25em;
        }
    }
    .right{
        display: flex;
        grid-gap: 1.25em;
        img{
            vertical-align: middle;
        }
    }
    h1{
        font-size: 2em;
    }
}

.tabs{
    padding: 0 1.25em 0;
    .tab-nav{
        display: flex;
        background: transparent;
        border-bottom: 2px solid $black-color-4;
        border-radius: 0;
        height: 2.75em;
        position: relative;
        
        .tabStyle{
            font-size: 0.8125em;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $gray-color-1;
            font-weight: 700;
            cursor: pointer;
            position: relative;
            z-index: 1;
            span{
                opacity: 0.3;
            }
            &.active,
            &:hover{
                color: $theme-color;
                span{
                    opacity: 1;
                }                            
            }
            &.tab-first {
                &.active ~ .tab-highlight,
                &:hover ~ .tab-highlight{
                    transform: translateX(0);
                }
            }
            &.tab-last{
                &.active ~ .tab-highlight,
                &:hover ~ .tab-highlight{
                    transform: translateX(100%);
                }
            }    
            
        }
       .tab-highlight{
            position: absolute;
            bottom: 0;
            display: flex;
            height: 2px;
            width: 50%;
            background-color: $theme-color;
            border-radius: 99px; // just a high number to create pill effect
            transition: 0.2s ease-out;   
        }
    }
}

.filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625em;
}
.filter-btn{
    display: inline-flex;
    align-items: center;
    background: $theme-color;
    border: 2px solid transparent;
    color: $black-color;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.4em 1em 0.35em;
    border-radius: 1.5em;
    cursor: pointer;
    line-height: normal;
    transition: 0.25s;
    &:hover,
    &:focus{    
        background: $black-color;
        color: $theme-color;
        border: 2px solid $theme-color;
        box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
        transform: translateY(-0.25em);
    }
    img{
        margin-left: 0.5em;
        vertical-align: middle;
        filter: grayscale(100%);
    }
}

.total-value{
    text-align: center;
    p{
        font-size: 1em;
        padding: 0;
        margin: 0;
    }
}

.list-container{
    padding: 0;
    margin: 0;
    overflow: auto;
    flex: 1;
    &.is-add-button{
        padding-bottom: 7em;
    }
}
.listitem{
    display: flex;
    align-items: center;
    grid-gap: 0.625em;
    background: $black-color-3;
    border: 2px solid $black-color-9;
    box-shadow: 0px 3px 4px $rgba-color6;
    border-radius: 2.5em;
    padding: 0.625em 1.25em 0.45em;
    margin-bottom: 0.625em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s linear;
    .left{
        &.icon{
            img{
                max-width: 2em;
                vertical-align: middle;
            }
        }
    }
    .body{
        flex: 1;
    }
    h6{
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 0.875em;
    }
    .small-text{
        font-size: 0.75em;
        font-weight: 700;
        display: block;
    }
    .text-eclipse-style{
        display: flex;
    }
    .text-eclipse{
        font-size: 1em;
        width: 6em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ls-icon{
        width: 0.625em;
        height: 0.625em;
        background-image: url('../../assets/images/right-arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-right: -0.5em;
        margin-left: 0.625em;
    }
    &:hover{
        background: $black-color;
    }
    &.disabled {
        cursor: default;
    }
}

.add-button{
    position: absolute;
    right: 1.25em;
    bottom: 1.25em;
}