@import "./../../styles/global";

body {
    height: 600px;
    width: auto;
    margin: 0 auto;
    background: $gray-color-1;
    color: #FFF;
    font-family: 'poppins';
    position: relative;
    line-height: 1.5;
    font-size: 90%;
}


*:before,
*:after {
  box-sizing: border-box;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.text-theme-color{
    color: $theme-color;
}
.text-gray-color{
    color: $gray-color-1;
}
.text-gray-color2{
    color: $gray-color-2;
}
.text-gray-color3{
    color: $gray-color-3;
}
.text-green-color{
    color: $green-color;
}
.text-success-color{
    color: $success-color;
}
.text-failed-color{
    color: $failed-color;
}
.text-pending-color{
    color: $yellow-color;
}

h1,h2,h3,h4,h5,h6{
    margin: 0 0 1rem;
}
h5{
    font-size: 1.25em;
}
p{
    font-size: 1.25em;
    margin: 0 0 1rem; 
    white-space: pre-line;   
}
.text-sm{
    font-size: 0.875em;
}
a{
    text-decoration: none;
}  
.text-underline{
    text-decoration: underline
}
img{
    max-width: 100%;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mr-0{
    margin-right: 0;
}
.ml-0{
    margin-left: 0;
}
.mt-1{
    margin-top: 1rem !important;
}
.mb-1{
    margin-bottom: 1rem !important;
}
.ml-sm{
    margin-left: 1em;
}
.pl-sm{
    padding-left: 1em;
}
.pb-0{
    padding-bottom: 0 !important;
}
.opacity{
    opacity: 0.6;
}
.uppercase{
    text-transform: uppercase;
}
.normal-weight{
    font-weight: 400;
}
.italic{
    font-style: italic;
}
.wrap-text{
    word-break: break-all;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.relative{
    position: relative;
}
.padder{
    padding: 1.25em 1.875em;
}
.container {
    width: $container-width;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: #000000;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 1em 1.875em;
    flex: 1;
    overflow: auto;    
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0 1.25em 1.25em;
    flex: 1;
    overflow: auto;
}
.p-20{
    padding: 1.25em;
}
.ds-flex{
    display: flex;
}
.ds-flex-col{
    display: flex;
    flex-direction: column;
}
.full-flex{
    flex: 1;
}
.content-background{    
    background: $black-color-5;
    border: 2px solid $black-color-6;
    box-shadow: inset 0px 27px 34px $rgba-color1;
    border-top-left-radius: 1.875em;
    border-top-right-radius: 1.875em;
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
.main-container{
    height: 600px;
    display: flex;
    width: $wrapper-width;
    margin: 0 auto;    
}
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
input,
textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    label{
        font-size: 0.8125em;
        color: $white-color;   
        opacity: 0.6;
        display: block;
        letter-spacing: 0.03em;
        margin: 0 0 0.325rem;
    }
    input,
    textarea{
        background: $black-color-3;
        border: 2px solid $black-color-4;
        font-size: 0.875em;
        height: 2.75em;
        color: $gray-color-1;
        padding: 0 1.5em;
        width: auto;
        outline: 0;
        border-radius: 3em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        transition: 0.3s linear;
        &:hover{
            background: $black-color;
        }
    }
    textarea{
        padding: 1em 1.5em;
        height: 4.5em;
        border-radius: 1.625em;

    }
    span{
        &.error{
            font-size: 0.875em;
            display: block;
            margin: 0.625em;
            color: $red-color;
            font-weight: 600;
        }
    }
}

// Spaceing

.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.pt-0{
    padding-top: 0;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pr-3{
    padding-right: 2em;
}
.pl-3{
    padding-left: 2em;
}
.success{
    font-size: 1em;
    display: block;
    margin: 0.625em;
    color: $green-color;
    font-weight: 600;
    word-break: break-all;
}
.error{
    font-size: 1em;
    display: block;
    margin: 0.625em;
    color: $red-color;
    font-weight: 600;
    word-break: break-word;
}
.label-style{
    font-size: 1em;
    color: $white-color;   
    opacity: 0.6;
    display: block;
    letter-spacing: 0.03em;
    margin: 0 0 0.625rem;
}
.label-style-no-display-block{
  font-size: 1em;
  color:$white-color;
  opacity: 0.6;
  letter-spacing: 0.03em;  
}
.text-style{
    font-size: 1em;
    color: $white-color;   
    opacity: 0.6;
    display: block;
    letter-spacing: 0.03em;
    margin: 0 0 0.625rem;
}
.single-content{
    color: $rgba-color3;
    strong{
        color: $white-color;
    }
    h6{
        font-size: 1em;
    }
    p{
        font-size: 1em;
        a{
            color: $theme-color;
            font-weight: 700;
        }
    }
    ol, ul{
        padding: 0 0 1.25em 1.25em;
        li{
            font-size: 1em;
            margin: 0 0 1rem;
        }
        &.lower-alpha{
            list-style: lower-alpha;
        }
    }
}
.font-normal-size{
    font-size: 1em;
}
.toast-styles{
    background: $theme-color;
    color: $black-color;
    font-size: 0.875em;
    font-family: $baseFont;
}
.justify-center{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black-color-4;
    border-radius: 0.5em;
    overflow: hidden;
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-color;
}
.hide-scrollbar ::-webkit-scrollbar{
    display: none;
}
.sm-icon{
    max-width: 1.25em;
    vertical-align: middle;
}
.pointer{
    cursor: pointer;
}