@import "./../../styles/global";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em 1.25em;
    min-height: 2.75em;
    &.trans-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .back-icon{
        display: inline-block;
        background: transparent;
        box-shadow: none;
        border: 0;
        padding: 0;
        outline: 0;
        position: relative;
        z-index: 1;
        cursor: pointer;
        img{
            vertical-align: middle;
        }
        &.navigator-header{
            opacity: 0;
            pointer-events: none;
            min-width: 3em;
        }
        &.hide-backicon{
            display: none;
        }
    }
    .headerTitleStyle{
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: $gray-color-2;
        font-size: 1.125em;
    }
    .btnText{
        color: $theme-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.9375em;
        text-decoration: none;
        margin-left: auto;
    }
    .header-icon{
        display: inline-block;
        margin-left: 1.25em;
        position: relative;
        background: transparent;
        cursor: pointer;
        width: 1.5em;
        &:first-child{
            margin-left: 0;
        }
        img{
            vertical-align: middle;
            transition: 0.3s linear;
        } 
        &:hover{
            animation: wiggle 2s linear infinite;
        }  
        &.expand-icon{
            @media only screen and (min-width: 581px) {
                display: none;
            }  
        }  
    }    
    .header-network {
        flex: 1;
        text-align: center;
        padding: 0 0.625rem;
        position: absolute;
        left: 50%;
        transform: translate(-50% , 0);
        cursor: pointer;
        p {
            font-size: 0.875em;
            letter-spacing: 0.03em;
            opacity: 0.6;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }
        h6{
            font-size: 1em;
            padding: 0;
            margin: 0;
        }
    }
}
.header-icon{
    position: relative;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    &.disable{
        pointer-events: none;
    }
    &:hover{
        animation: wiggle 2s linear infinite;
    }  
}
.badge{
    background: $red-color2;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}