@import "./../../styles/global";

.navbar{
    display: flex;
    flex-direction: column;
    background: $black-color;
    box-shadow: 0px -2px 0px $rgba-color11;
    padding: 1.25em;
    .nav{
        padding: 0;
        margin: 0;
        display: block;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                color: $gray-color-6;
                text-decoration: none;
            }
        }
        .nav-item{
            display: block;
            text-align: center;
            font-size: 1em;
            margin: 0 0 1.875em;
            cursor: pointer;
            .nav-icon{
                margin: 0 auto 0.875em;
                width: 1.625em;
                height: 1.625em;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 1.625em;
                img{
                    max-width: 1.625em;
                    filter: grayscale(100%);
                    opacity: 0.6;
                    transition: 0.3s linear;
                }
            }
            span{
                display: block;
                color: $gray-color-6;
                font-size: 0.625em;
                text-transform: uppercase;
                font-weight: 700;
                transition: 0.3s linear;
            }
            a{
                transition: 0.3s linear;
                &:not(.unselected)[aria-current='page'],
                &:hover{
                    color: $white-color;
                    .nav-icon{
                        img{
                            filter: none;
                            opacity: 1;
                        }
                    }
                    span{
                        color: $white-color;
                    }
                }
            }
            &.Network{
                .nav-icon{
                    img{
                        filter: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
