@import "./../../styles/global";
.send-token-header{
    padding: 0 1.25em 0.75em;
    p{
        font-size: 0.8125em;
        letter-spacing: 0.03em;
        color: $white-color;
        padding: 0;
        margin: 0;
        opacity: 0.6;
    }
    h6{
        font-size: 0.9375em;
        font-weight: 700;
        padding: 0;
        margin: 0 0 0.5em;
    }
}
