@import "./../../styles/global";
.passcode-label{
    font-size: 1em;
    letter-spacing: 0.03em;
    font-weight: 400;
    opacity: 0.6;
    text-align: center;
    display: block;
}
.dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    padding: 1.875em 0;
    .dot-style{
        width: 0.75em;
        height: 0.75em;
        background: $black-color-3;
        border: 2.4px solid $black-color-4;
        border-radius: 50%;
        &.active-dot-style{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}
.keypad-style {
    display: grid;
    flex-wrap: wrap;
    grid-row-gap: 1.25em;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-column-gap: 3.125em;
    width: max-content;    
    button.key-button {
        background: #000000;
        border: 2px solid #282828;
        box-shadow: 0px 3px 4px rgb(0 0 0 / 5%);
        border-radius: 50%;
        color: #fff;
        font-size: 1.25em;
        font-weight: 700;
        width: 2.8em;
        height: 2.8em;
        padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover{
            background-color: $theme-color;
            border-color: $theme-color;
        }
        img{
            max-width: 50%;
        }
        
    }
}