@import "./../../styles/global";
.options-container{
    
    .options-group{
        background: $black-color-3;
        border: 2px solid $black-color-4;
        border-radius: 1.625em;
        margin: 0 0 1.25em;
        overflow: hidden;
        .options-header{
            font-size: 1.25em;
            font-weight: 700;
            color: $theme-color;
            padding: 1em 1.25em;
        }
        .option-button{
            font-size: 1em;
            font-weight: 400;
            color: $white-color;
            padding: 1.28em 1.428em 1.21em;
            display: flex;
            border-top: 1px solid $black-color-4;
            cursor: pointer;
            transition: 0.3s linear;
            &:hover{
                background-color: $black-color;
            }
            .body{
                flex: 1;
            }
            &:first-child{
                border-top: 0;
            }
        }        
    }
    .small-text{
        font-size: 0.875em;
        font-weight: 400;
        color: $white-color;
        display: block;
        margin: 1em 0 0;
    }
    .text-eclipse-style{
        display: flex;
        .text-eclipse{
            font-size: 1em;
            width: 5.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &.option-title{
        .options-group{
            .option-button{
                font-size: 1em;
                color: $theme-color;
                font-weight: 700;
                padding: 1em 1.25em;
            }
        }
    }
}
.hide-right-details{
    .right{
        display: none;
    }
}
.switch{
    width: 48px;
    height: 22px;
    background: $black-color-19;
    border: 1px solid $gray-color-8;
    border-radius: 43px;
    position: relative;
    cursor: pointer;
    .switch-thumb{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background:$gray-color-5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transition: 0.1s linear;
        transform: translate(0, 0);
    }
    &.isTrue{
        .switch-thumb{
            background: $theme-color;
            transform: translate(130%, 0);
        }
    }
}