@import "./../../styles/global";

.single-checkbox{
    font-size: 1em;
    color: $white-color;
    position: relative;
    padding-left: 2.5em;
    display: inline-block;
    input[type="checkbox"]{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .check-icon{
        width: 1.875em;
        height: 1.875em;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        position: absolute;
        left: 0;
        background-color: $theme-color;
        transform: translate(0, -50%);        
        background-repeat: no-repeat;
        background-position: center center;
    }
    input[type="checkbox"]:checked +  .check-icon{
        background-image: url('../../assets/images/check.svg');
    }
    span{
        display: inline-block;
        padding: 6px 0 0;
    }

    &.confirm_recovery_phrase{
        margin: 1.25em 0;
        .check-icon{
            background-size: 50%;
        }
    }
    &.accept-checkbox{
        font-size: 0.875em;
        margin-top: 1.875em;        
    }
}