@import "./../../styles/global";
.network-list-style{
    overflow: auto;
    .select-network-item{
        border-top: 1px solid $black-color-4;
        cursor: pointer;
        h6{
            font-weight: 400;
            text-transform: inherit;
        }
        .right{
            display: flex;
            img{
                vertical-align: middle;
            }
        }
    }
}
.is-remove{
    padding: 0.875em 1em 0.625em 0;
    img{
        vertical-align: middle;
    }
}
.swap-badge {
    background-color: $theme-color;
    color: $black-color;
    border-radius: 3px;
    padding: 0em 0.625em;
    margin-left: 0.625em;
    font-size: 0.625em;
    position: relative;
    bottom: 2px;
}