@import "../../../styles/global";
.shape-rounded {
  background: $black-color-13;
  border: 2px solid $black-color-12;
  box-shadow: inset 0px 27px 34px $rgba-color1;
  border-radius: 3.75em;
  padding: 1.25em;
  &::before {
    content: "";
    display: block;
    height: 1.25em;
    background: $black-color;
    border: 2px solid $black-color-14;
    box-shadow: inset 0px 27px 34px $rgba-color1;
    border-radius: 2.5em;
  }
}
.ct-wrapper {
  margin-top: -2.125em;
  padding: 0 1.875em;
}
.ct-container {
  flex: 1;
  background: $black-color-3;
  border: 2px solid $black-color-4;
  border-bottom: 0;
  position: relative;
  z-index: 1;
  .content {
    flex: 1;
    padding: 1.25em;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1em;
    left: -2px;
    right: -2px;
    bottom: 0;
    background-color: #000;
    background-image: url("../../../assets/images/background-pattern.png");
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: 0 100%;
    pointer-events: none;
  }
}
.heading-styles {
  .line {
    border: 1px dashed $black-color-4;
    width: 100%;
    display: block;
    margin: 0 0 0.625em 0;
  }
  img {
    vertical-align: top;
    display: block;
    margin-bottom: 1rem;
  }
  h6 {
    font-size: 1.25em;
    margin: 1em 0 0.875em 0;
    line-height: normal;
  }
}
.send-details {
  border-bottom: 1px solid $black-color-15;
  position: relative;
  padding-left: 1.875em;
  .from-to-pattern {
    width: 1px;
    position: absolute;
    left: 0;
    top: 1.5em;
    bottom: 1.5em;
    border-left: 1px dashed $gray-color-4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &::before,
    &::after {
      content: "";
      background: $gray-color-4;
      border-radius: 0.625em;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 0.5em;
      height: 0.5em;
      display: flex;
      margin-left: -0.25em;
    }
    img.from-to-arrow {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      max-width: inherit;
      width: auto;
      z-index: 9;
      transform: translate(-50%, -50%);
    }
  }

  .send-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625em 0;
    border-top: 1px solid $black-color-15;
    .body {
      flex: 1;
    }
    .icon {
      margin-left: 0.75em;
      max-width: 1.5em;
    }
    &:first-child {
      border-top: 0;
    }
  }

  small {
    font-size: 0.875em;
    color: $gray-color-3;
    font-weight: 400;
  }
  span {
    font-size: 0.875em;
    small {
      font-size: 1em;
    }
  }
  h6 {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  .text-eclipse-style {
    display: flex;
    .text-eclipse {
      font-size: 1em;
      width: 5.8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.send-amount {
  text-align: center;
  padding: 1.25em 0;
  border-bottom: 1px solid $black-color-15;
  small {
    font-size: 0.875em;
    opacity: 0.6;
  }
  h2 {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    img {
      margin-left: 0.3125em;
      vertical-align: middle;
      max-width: 0.8125em;
    }
  }
}
.send-estimated {
  h6 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    letter-spacing: 0.03em;
  }
  h5 {
    font-size: 1em;
    margin: 0;
  }
  small {
    font-size: 0.6875em;
  }
  span {
    font-size: 0.6875em;
    small {
      font-size: 1em;
    }
  }
  .send-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.875em 0;
    border-top: 1px solid $black-color-15;
    &:first-child {
      border-top: 0;
    }
    .body {
      flex: 1;
    }
    .right {
      img {
        margin-left: 0.5em;
      }
    }
  }
}
.content-footer {
  position: relative;
  .spinner-container {
    padding: 0.875em;
    position: static;
    .loading-spinner {
      width: 40px;
      height: 40px;
      &::before {
        left: 3px;
        right: 3px;
        top: 3px;
        bottom: 3px;
      }
    }
  }
}
.estimated-gas-fee-content {
  h2 {
    font-size: 1.875em;
    margin: 0 0 0.5rem;
    line-height: 1.33;
  }
  h6 {
    font-size: 1em;
    margin: 0 0 0.4rem;
    small {
      font-size: 1em;
      font-weight: 400;
    }
  }
}
.estimated-gas-range-tabs {
  padding: 0;
  margin: 1.25em 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  list-style: none;
  &::before {
    content: "";
    background: $black-color-3;
    box-shadow: 0px 3px 4px $rgba-color6;
    border: 2px solid $black-color-9;
    border-radius: 2em;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  li {
    padding: 0;
    margin: 0;
    span {
      font-size: 1em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 6em;
      height: 2.28em;
      background: $black-color-3;
      border: 2px solid $black-color-9;
      box-shadow: 0px 3px 4px $rgba-color6;
      border-radius: 2.5em;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      color: $rgba-color9;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s linear;
    }
    &.active,
    &:hover {
      span {
        background: $theme-color;
        box-shadow: 0px 3px 4px $rgba-color6;
        color: $black-color;
      }
    }
  }
}
.line-style {
  display: block;
  height: 0.375em;
  border-top: 1px solid $black-color-15;
  border-bottom: 1px solid $black-color-15;
  margin: 0 0 1.25em;
}
.link-dropdown {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1em;
  letter-spacing: 0.03em;
  color: $theme-color;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  img {
    margin-left: 4px;
  }
}
.counter-frm {
  label {
    font-size: 1em;
    color: $white-color;
    opacity: 0.6;
    display: block;
    letter-spacing: 0.03em;
    margin: 0 0 0.625rem;
    text-align: left;
  }
}
.counter-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.25em;
  background: $black-color-3;
  border: 2px solid $black-color-4;
  border-radius: 1.625em;
  padding: 0 1em;
  margin: 0 0 1.25em;
  .circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    background: $black-color-4;
    border: 2px solid $black-color-4;
    box-shadow: none;
    padding: 0;
    margin: 0;
    outline: 0;
    padding: 4px;
  }
}
.display-content {
  flex: 1;
  h6 {
    margin: 0;
    line-height: 1.3;
  }
  span {
    font-size: 0.875em;
    color: $gray-color-1;
    opacity: 0.6;
  }
  input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: 0;
    font-size: 1em;
    color: #fff;
    text-align: center;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}
.tab-content {
  margin: 1.25em 0;
}
.form-header {
  display: flex;
  .body {
    flex: 1;
  }
}
.label-approve-reject-form {
  font-size: 1em;
  text-align: center;
  color: $white-color;
  font-weight: 700;
}
.spinner-container-hardware {
  width: auto;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background: $black-color-5;
  z-index: 9;
  max-width: $wrapper-width;
  margin: 0 auto;
  .loading-spinner-hardware {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    background: transparent;
    background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(251, 168, 26, 0) -61.76deg,
      #fba81a 37.76deg,
      #fba81a 257.92deg,
      rgba(251, 168, 26, 0) 257.96deg,
      rgba(251, 168, 26, 0) 298.24deg,
      #fba81a 397.76deg
    );
    border-radius: 50%;
    -webkit-animation: 1.5s spin linear infinite;
    animation: 1.5s spin linear infinite;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      right: 5px;
      top: 5px;
      bottom: 5px;
      background: $black-color-5;
      border-radius: 50%;
    }
  }
}
