@import "../../../styles/global";
.title-header{
    margin: 1em 0 0;
}
.radio-group{
    display: flex;
    align-items: center;
    margin: 0 0 1em;
    .single-radio{
        margin-left: 3em;
        &:first-child{
            margin-left: 0;
        }
    }
}
.languages-list{
    .listitem-control{
        padding: 1em 1.5em;
        h6{
            text-transform: inherit;
        }
    }
}
