@import "../../../styles/global";
.con-in{
    display: flex;
    align-items: center;
    background: $black-color-3;
    border: 2px solid $black-color-4;
    border-radius: 2.5em;
    font-size: 1em;
    padding: 1em 1.5em;
    cursor: pointer;
    .body{
        flex: 1;
        overflow: hidden;
    }
    .btn-in{
        margin: 0 0 0 1em;
        height: auto;
        padding: 1em 1.875em;
        font-weight: 700;
    }
    .icon{
        img{
            max-width: 3.125em;
            margin-right: 1em;
        }
    }
}
.frm-with-loader{
    .spinner-container{
        left: 5px;
        top: 5px;
        bottom: 5px;
        right: 5px;
        .loading-spinner {
            width: 25px;
            height: 25px;
            &::before{
                left: 2px;
                right: 2px;
                top: 2px;
                bottom: 2px;
            }
        }
    }
}
.form-connect.inline{
    .form-control {
        padding-right: 8em;
    }
    button.add-btn {
        font-size: 0.75em;
        padding: 0 1.5em 1px;
        height: 2.75em;
        border: 1px solid transparent;
        transition: 0.25s;
        &:hover,
        &:focus{    
            background: $black-color;
            color: $theme-color;
            border: 1px solid $theme-color;
            box-shadow: 0 0.5em 1em -0.4em rgba(251, 168, 26, 0.5);
            transform: translateY(-0.25em);
        }
    }
}
