@import "./../../styles/global";

.radio-numbers{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.625em;
    margin: 0;
    padding: 0;
    list-style: none;
    .radio-number{
        position: relative;
        input[type="radio"]{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        span{
            font-size: 1em;
            color: $gray-color-1;
            padding: 0.2em 0 0;
            height: 3.1em;
            min-width: 3.5em;
            border-radius: 3.7em;
            background: $black-color-3;
            border: 2px solid $black-color-4;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            &.selected{
                background: $theme-color;
                color: $black-color;
            }
        }
        input[type="radio"]:checked{
            ~ span{
                background: $theme-color;
                color: $black-color;
            }
        }
    }
}