@import "./../../styles/global";

.progress{
    background: $black-color-1;
    border-radius: 0.8125em;
    height: 0.625em;
    max-width: 320px;
    margin: 0 auto 1.875em;
    overflow: hidden;
    position: relative;
    .progress-done{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $theme-color;
        animation: progress 4s;
        animation-delay: 0s;
    }
    @keyframes progress {
        0% {
            width: 0%;
        }
        30% {
            width: 0%;
        }        
        40% {
            width: 10%;
        }
        50% {
            width: 10%;
        }
        60% {
            width: 50%;
        }
        70% {
            width: 50%;
        }
        90% {
            width: 80%;
        }
        100% {
            width: 100%;
        }
    }
}