@import "./../../styles/global";
.listitem-control{
    &.round-listitem{
        padding: 1em 1.875em 0.8125em;
        font-size: 0.875em;
    }
}
.filterlist-style{
    margin: 0 0 1.25em;
}
.filter-item{
    display: flex;
    align-items: center;
    padding: 0.875em 0;
    border-bottom: 1px solid $black-color-15;
    cursor: pointer;
    .left{
        margin-right: 1.25em;
    }
    .checkbox-style{
        width: 1.25em;    
        height: 1.25em;
        background: $black-color-13;
        border: 1px solid $gray-color-5;
        box-shadow: inset 0px 27px 34px $rgba-color1;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        vertical-align: middle;
        &.checkbox-selected{
            background: $theme-color;
            border-color: $theme-color;
            box-shadow: none;
        }
    }
    .body{
        flex: 1;
        display: flex;
        align-items: center;
        .icon{
            max-width: 1.875em;
            margin-right: 1.25em;
            img{
                vertical-align: middle;
            }
        }
        h6{
            flex: 1;
            font-size: 1em;
            font-weight: 700;
            color: $white-color;
            margin: 0;
            padding: 0;
            transition: 0.3s linear;
        }
    }
    &:hover{
         .body{
             h6{
                 color: $theme-color;
             }
         }
    }
}