@import "../../styles/global";
.transactionslist-container{
    .listitem{
        background: $black-color;
        padding: 0.8125em 1.25em 0.8125em;
        transition: 0.3s linear;
        &:hover{
            background: $black-color-3;
        }
    }
}